.container{
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%,-50%);
    max-width: 
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  }
  
.container .form{
  padding: 1rem;
}